<!-- 
<h2>Ng Style</h2>
<p [ngStyle]="{ fontFamily: 'serif', color: corDoParagrafo}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia facilis adipisci soluta est qui excepturi quidem ullam provident iure, similique quasi nam quis, cupiditate, corrupti unde placeat. Nobis, accusantium quis?
</p>

<button (click)="mudarCorDoParagrafo('#8C0C0C')">Mudar para vermelho</button><br>
<button (click)="mudarCorDoParagrafo('#04844C')">Mudar para verde</button>
<button (click)="mudarCorDoParagrafo('#497C9F')">Mudar para Azul</button><br>
<button (click)="mudarCorDoParagrafo('#CC94DC')">Mudar para Roxo</button>
<hr>
<br>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngfor></app-diretiva-ngfor> -->

<app-diretiva-ngswitch></app-diretiva-ngswitch>